body {
    background-color: #353b48;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;

}

.loading {
    display: flex;
}

.circle {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    margin: 2px;
    animation: jump 0.5s ease-in infinite;
}

.circle:nth-of-type(2) {
    animation-delay: 0.1s;
}

.circle:nth-of-type(3) {
    animation-delay: 0.2s;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}