body {
    margin: 0;

}

.top-container {
    background-image: url(./img1.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-container h1 {
    color: white;
    font-size: 50px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
}

.text {
    margin: 50px 5%;
    font-family: sans-serif;
}

.navbar {
    display: flex;
    position: fixed;
    background-color: white;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.2s;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    margin: 0 10px;
    color: black;
    font-family: cursive;

}

.navbar ul li a:hover {
    color: red;
}

.navbar.active {
    background-color: black;
}

.navbar.active ul li a {
    color: white;
}